@keyframes bg-anim {
  0% {
    background-position: left; }
  50% {
    background-position: center; }
  100% {
    background-position: right; } }
@keyframes popup-anim {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 0.5; } }
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  height: 100%; }

img {
  width: 76%;
  height: auto; }

body {
  height: 100%;
  background: #03001e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(40deg, #ee5fc8, #7303c0, #03001e);
  /* Chrome 10-25, Safari 5.1-6 */
  background-size: 400%;
  animation: bg-anim 25s alternate infinite; }
  @media screen and (min-width: 786px) {
    body {
      display: grid;
      grid-template-areas: "c" "c" "c";
      margin: 0 auto; } }

.container {
  position: relative; }
  @media screen and (min-width: 786px) {
    .container {
      max-width: 786px;
      margin: 0 auto;
      grid-area: c; } }

.header {
  display: flex;
  width: 100%;
  height: 4rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem; }

.popup {
  position: absolute;
  top: 5.5rem;
  left: 2rem;
  color: #fff;
  font-size: 1.7rem;
  letter-spacing: 2px;
  animation: popup-anim 800ms alternate infinite both; }

.tab {
  flex: 1;
  background: #9c9c9c;
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  opacity: 0.9; }

.sectionB {
  display: none;
  width: 100%;
  height: 100vh;
  background: white;
  position: absolute;
  top: 6.9rem;
  left: 0;
  z-index: 10; }

.sectionB:target {
  display: block; }

.sectionB__contact-list {
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  overflow-y: scroll; }

.contacts {
  margin: 2rem;
  list-style: none; }
  .contacts .head {
    border-bottom: 1px solid #e9e9e9;
    margin: 1.5rem 0; }
    .contacts .head > h2 {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #bbbbbb;
      margin-bottom: 0.5rem; }

.name {
  padding-left: 5rem;
  margin: 1rem 0;
  font-size: 2rem;
  text-transform: capitalize; }

.heading-h1 {
  text-transform: capitalize;
  font-size: 1.8rem; }

.section {
  width: 90vw;
  margin: 0 auto; }
  @media screen and (min-width: 786px) {
    .section {
      max-width: 786px;
      margin: 0 auto;
      grid-area: c; } }

.form-group {
  display: flex;
  width: 100%;
  overflow: hidden; }
  .form-group:nth-of-type(2) {
    margin: 0.8rem 0; }
.form-control, .form-control-search {
  flex: 1 1 100%;
  padding: 1rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid #5b078b;
  outline: none;
  color: #eee;
  font-size: 3rem;
  letter-spacing: 4px; }
.form-control-search {
  border-bottom: 1px solid #d4d4d4;
  color: #797979; }
  .form-control-search::placeholder {
    color: rgba(153, 153, 153, 0.274);
    font-size: 3rem; }

.label {
  flex: 0 0 84px;
  border: none;
  border-bottom: 1px solid #5b078b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem; }
  .label__icon {
    color: rgba(151, 151, 151, 0.411);
    margin-left: 1rem; }

.d-none {
  display: none; }

.d-block {
  display: block; }

.flags {
  border-radius: 50%;
  display: block; }

.btn {
  flex: 1;
  border-radius: 30px;
  height: 3rem;
  font-size: 2.5rem;
  color: #eee;
  border: none;
  background: #5b078b; }

.pad {
  width: 7.5rem;
  height: 7.5rem;
  display: grid;
  font-size: 2rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bolder;
  background: #9599b3;
  outline: none; }
  .pad__group {
    outline: none;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem; }

.dial-btn {
  background: #1aa81a !important; }

.padCall {
  width: 7.5rem;
  height: 7.5rem;
  display: grid;
  font-size: 2rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  font-weight: bolder; }

.del {
  width: 8rem;
  height: 8rem;
  display: grid;
  font-size: 2rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  font-weight: bolder;
  background: #9599b3 url(/images/del.svg) no-repeat center; }

.utility-Center {
  width: 100%;
  display: flex;
  justify-content: center; }

/*# sourceMappingURL=style.css.map */
